body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.grid {
    width: 500px;
    height: 500px;
    border-left: solid 1px grey;
    border-top: solid 1px grey;
    display: grid;
}

.shaded {
    background-color: black;
}

.settings {
    display: flex;
    align-items: center;
}

.userInput {
    width: 50px;
    text-align: center;
}